@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

:root {
  --background: #ebf4f7;
  --dark: #00458b;
  --mid: #99ddff;
  --light: #3fd2c7;
  --font: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 0;
  font-family: var(--font);
}


h1, h2, h3, h4, h5, h6{
  color: var(--dark);
}
.row{
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
  align-items: center;
}
.button {
  text-decoration: none;
  color: var(--background);
  margin: 30px;
  padding: 10px;
  background-color: var(--dark);
  border-radius: 5px;
}


//Navbar
.navButton {
  text-decoration: none;
  color: var(--background);
  margin: 30px;
  padding: 10px;
  background-color: var(--dark);
  border-radius: 5px;
}

#navList{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
#navLogo {
  height: 10vh;
}

//Footer

#mainFooter {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

//Landing
.landingImg {
  filter: drop-shadow(3px 10px 4px grey);
}
#landing {
  display:flex;
  flex-direction: row;
}
#landingRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#landingButton {
  background-color: var(--mid);
  text-decoration: none;
  color: var(--dark);
  padding: 15px 40px;
  margin: -120px;
  border-radius: 5px;
  z-index: 1
}

//home

#homeMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#feelings {
  width: 30%;
  margin:0;
  filter: drop-shadow(3px 6px 4px grey);
}
.feelingsParagraph {
  text-align: justify;
  text-justify: inter-word;
  font-size: large;
  margin: 0;
}
.feelingsWithLink {
  width: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feelingsRow {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10vh;
}
#openingHours{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  color: var(--background);
  padding:50px;
}
#contact {
  margin: 100px;
}
.contactRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.contactIcon {
  height: 80px;
}
.iconGroup {
display: flex;
flex-direction: row;
align-items: center;
}

#opening {
  color: var(--background);
}

//Fees

.fees {

}
.mainFees {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}

.termsImage {
  width: 98vw;
  display:flex;
  flex-direction: row;
  justify-items: space-evenly;
}

#hands {
  width: 20vw;
  filter: drop-shadow(3px 6px 4px grey);
}

//SERVICES

#mainServices {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: space-evenly;
 
}
.serviceImg {
  width: 20vw;
  filter: drop-shadow(3px 6px 4px grey);
}

.service {
  margin: 40px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  // padding:20px;

}

// AREAS

.letterCondition {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 400px;
  height: 500px;;
  display: flex;
  flex-direction: column;
  align-items: center;
}


